<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.app.plugin.security"
        version="1.0.0">
    
    <name>Security</name>
    
    <description>This plugin for Cordova.</description>
    
    <keywords>Cordova,Security</keywords>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/security.js" name="Security">
        <clobbers target="security" />
    </js-module>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Security">
                <param name="android-package" value="com.app.plugin.security.Security" />
            </feature>
        </config-file>
        
        <source-file src="src/android/Security.java" target-dir="src/com/app/plugin/security/" />
    </platform>
    
</plugin>
